*{
    border: 0%;
    margin: 0%;
    padding: 0%;
  }
body{
    background-color:#565050;
    height: 4000px;
}

.userProfile{
    background-color: darkblue;
    top: 80;
    width: 330px;
    height: 600px;
    float: left;

}

.postContent{
    background-color:orange;
    width: 690px;
    height: 300px;
    float: left;

}

.feed{
    background-color: darkred;
    width: 690px;
    height: 1000px;
    float: left;
}

.ads{
    background-color: violet;
    width: 330px;
    height: 1500px;
    float:right; 
    float: 


}