*{
    border: 0%;
    margin: 0%;
    padding: 0%;
  }
body{
    background-color:#565050;
    height: 4000px;
}

@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}
    

.userProfile{
    background-color: darkblue;
    top: 80;
    width: 25%;
    height: 600px;
    float: left;

}

.postContent{
    background-color:orange;
    width: 50%;
    height: 300px;
    float: left;

}

.feed{
    background-color: darkred;
    width: 50%;
    height: 1000px;
    float: left;
}

.ads{
    background-color: violet;
    width: 25%;
    height: 1500px;
    float:right; 
    float: 


}